<div class="container carousel w-100 mb-5">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner mx-auto">
      <div class="carousel-item active">
        <div class="d-flex align-items-center justify-content-between">
          <img src="../photos/adidas.png" class="d-block logo-img" alt="Adidas logo">
          <img src="../photos/nike.jpg" class="d-block logo-img" alt="Nike logo">
          <img src="../photos/jordan.png" class="d-block logo-img" alt="Jordan logo">
          <img src="../photos/nb.png" class="d-block logo-img" alt="New Balance logo">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex align-items-center justify-content-between">
          <img src="../photos/converse.png" class="d-block logo-img" alt="Converse logo">
          <img src="../photos/vans.png" class="d-block logo-img" alt="Vans logo">
          <img src="../photos/oncloud.png" class="d-block logo-img" alt="On Cloud logo">
          <img src="../photos/jordan.png" class="d-block logo-img" alt="Jordan logo">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
