.product-image {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  aspect-ratio: 1;
  width: 100%;
  object-fit: cover;
}

.product-image:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.modal-body {
  flex: none !important;
  padding: 20px; /* Add padding for better spacing */
  overflow-y: auto; /* Enable scrolling if content exceeds */
}

.size-button {
  border: 1px solid #ddd;
  margin: 0 5px 5px 0;
  padding: 10px 15px; /* Add padding for better touch targets */
  background-color: white;
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions */
}

.size-button:hover {
  background-color: #f0f0f0; /* Change background on hover */
  border-color: #bbb; /* Darken border on hover */
}

.size-button:active {
  background-color: #ddd; /* Darken background on click */
}
